.react-multiple-carousel__arrow {
  min-width: 35px !important;
  min-height: 35px !important;
  background-color: white !important;
}
.react-multiple-carousel__arrow:hover {
  background-color: #ff8787 !important;
  transform: scale(1.1);
}
.react-multiple-carousel__arrow:active {
  transform: scale(1);
}

.react-multiple-carousel__arrow--right {
  right: 3% !important;
  position: absolute !important;
}
.react-multiple-carousel__arrow--right::before {
  content: "\279C" !important;
  color: #0b24fb !important;
}

.react-multiple-carousel__arrow--left {
  left: 3% !important;
  position: absolute !important;
}
.react-multiple-carousel__arrow--left::before {
  content: "\279C" !important;
  color: #0b24fb !important;
  transform: rotate(180deg) !important;
}

.react-multi-carousel-list {
  position: static !important;
}

@media only screen and (min-width: 1200px) {
  .react-multiple-carousel__arrow--right {
    right: 14% !important;
    position: absolute !important;
  }

  .react-multiple-carousel__arrow--left {
    left: 14% !important;
    position: absolute !important;
  }
}
